<div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
        <li class="breadcrumb-item" [routerLink]="['/ford']" routerLinkActive="active">carroford</li>
      </ol>
    </nav>
  </div>
<div class="carros">
<div class="carrosCss" *ngFor = "let ford of carroford">
    <p>{{ford.nome}}</p>
    <p>{{ford.valor}}</p>
    <p>{{ford.cor}}</p>
    <img [src]= "ford.imagem" >

</div>
</div>