<div class="projeto">
    <div class="sideBar">
      <ul id="nav">
        <li><a routerLink='home'>Home</a></li>
          <li><a routerLink='bmw'>Bmw</a></li>
          <li><a routerLink='chevrolet'>Chevrolet</a></li>
          <li><a routerLink='citroen'>Citroen</a></li>
          <li><a routerLink='fiat'>Fiat</a></li>
          <li><a routerLink='ford'>Ford</a></li>
          <li><a routerLink='honda'>Honda</a></li>
          <li><a routerLink='hyundai'>Hyundai</a></li>
          <li><a routerLink='renault'>Renault</a></li>
          <li><a routerLink='toyota'>Toyota</a></li>
          <li><a routerLink='volkswagen'>Volkswagen</a></li>
        </ul>
    </div>
<div>
    <router-outlet></router-outlet>  
</div>

</div>
