<div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
        <li class="breadcrumb-item" [routerLink]="['/toyota']" routerLinkActive="active">carrotoyota</li>
      </ol>
    </nav>
  </div>
<div class="carros">
<div class="carrosCss" *ngFor = "let toyota of carrotoyota">
    <p>{{toyota.nome}}</p>
    <p>{{toyota.valor}}</p>
    <p>{{toyota.cor}}</p>
    <img [src]= "toyota.imagem" >

</div>
</div>
