<div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
        <li class="breadcrumb-item" [routerLink]="['/volkswagen']" routerLinkActive="active">carrovolkswagen</li>
      </ol>
    </nav>
  </div>
<div class="carros">
<div class="carrosCss" *ngFor = "let volkswagen of carrovolkswagen">
    <p>{{volkswagen.nome}}</p>
    <p>{{volkswagen.valor}}</p>
    <p>{{volkswagen.cor}}</p>
    <img [src]= "volkswagen.imagem" >

</div>
</div>